extends layout

block content

    div.jumbotron
      h1(style = "text-align:center") Hermione
      h2(style = "text-align:center") Interactive Energy Management
      img(src="/images/LandingPage1.png" style="max-width:100%; height:auto; margin:auto")

    div 
      h2(style="text-align: center") Welcome! Ask me questions like:
      ul
        li Describe the conditions for {Building} when energy usage is {Usage} kilowatts
        li What is the predicted energy consumption for {Day}
        li What is the predicted energy consumption for the month of {Month}
        li What is the expected consumption if I change {SetPointType} to {SetPointValue} from time {StartTime} to {EndTime}
        li What should my set points be for the best strategy?
