doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style-flatly.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    <!-- jQuery library -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    <!-- Latest compiled JavaScript -->
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    <!-- Highcharts stuff -->
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    script (src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"')
    script(src="http://d3js.org/d3.v4.min.js")
  body(style = "background:#CCC")
    script.
      setInterval(function() {location.reload(true);}, 3000)

  block content
