extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  // Custom styles for this template
  link(href='../css/starter-template.css', rel='stylesheet')
block body
  //+navbar-fixed("Hermione","navbar","inverse")
  +label-default("Default")
  +label-default("Default")
  +label-primary("Primary")
  +label-success("Success")
  +label-info("Info")
  +label-warning("Warning")
  +label-danger("Danger")
